.infoShoes {
    width: 50%;
    height: 0%;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    gap: 5%;
    opacity: 0;
    overflow: hidden;
    animation: infoShoes .5s .8s forwards;
}

.infoShoes h1 {
    grid-row: 1/2;
    align-self: flex-end;
    color: black;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
}

.cardShopp {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    align-self: flex-end;
    gap: 2rem;
}

.cardShopp h2 {
    font-size: 3rem;
    color: black;
    align-self: flex-start;
}

.cardShopp .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardShopp .buttons .select-div {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.cardShopp .buttons select {
    width: 100px;
    height: 36px;
    text-align: end;
    outline: none;
    border: 0;
}

.cardShopp .buttons option {
    width: 100px;
    background: none;
}

.cardShopp .buttons button {
    width: 200px;
    height: 40px;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.786);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.data-shoes {
    display: flex;
    height: 100%;
    padding: 1.5rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
    background: #f7f7f7;
    color: #919191;
    overflow: hidden;
}

@keyframes infoShoes {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
        opacity:1;
    }
}

@media (max-width:768px) {
    .infoShoes{
        width: 100%;
        height: 50%!important;
    }
    .infoShoes h1, .cardShopp {
        padding: 0 1rem;
    }
    .cardShopp{
        gap: 1rem;
    }
}

@media (max-width:500px) {
    .cardShopp .buttons *{
        width: 100%!important;
    }
    .infoShoes h1{
        align-self: center!important;
    }
}

@media(max-height: 700px) {
    .infoShoes h1{
        align-self: flex-start!important;
    }
}

 
